/* ------ CUSTOMIZE THE CAROUSEL ------ */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}

.carousel .carousel-caption,
.carousel .carousel-control {
  color: #a8a8a8;
}

.carousel .carousel-item {
  height: 300px;
  background-color: #f7f7f7;
}

.carousel-indicators li,
.carousel-indicators [data-bs-target] {
  background-color: #ff0;
  border: 1px solid #f0f;
}

.carousel-indicators .active {
  background-color: #666;
  border: 1px solid #979797;
}